.swipe_button{
    position:fixed;
    bottom:10vh;
    display:flex;
    width:100%;
    justify-content: space-evenly;
}
.swipe_button_items{
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.443);
    font-size: 4rem;
    border-radius: 50%;
    color:rgb(54, 52, 52);
    padding:1rem;
}