.card{
    position: relative;
    background: #fff;
    width:660px;
    padding:28px;
    max-width: 85vw;
    box-shadow: 1rem 0 1rem rgba(0, 0, 0, 0.436);
    background-size: cover;
    height: 58vh;
    background-position: center;
}
.data{
    display:flex;
    justify-content:center;
    margin-top:10vh;
}
.swipe{
    position: absolute;
}
.card h3{
    position: absolute;
    bottom:0;
    margin: 10px;
    color:#fff;
}